body {
    padding: 0px;
    margin: 0px;
    font: 20px/1.65 Ubuntu, "Dejavu Sans", "Helvetica Neue", Tahoma, "WenQuanYi Micro Hei", "Hiragino Sans GB", "Microsoft YaHei", STHeiti, sans-serif;
    background-color: #F0EDD5;
    color: #211D19;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: #005591;
}
a:hover {
    color: #00233D;
}

#wrapper {
    margin: 12px auto;
    width: 760px;
    padding: 14px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 22px;
    margin-bottom: 3px;
}
p {
    margin-top: 3px;
}
img {
    margin: 8px auto 3px 10px;
}
em {
    font-style: normal;
    font-weight: bold;
}
hr {
    width: 100%;
    border: 0;
    margin: 10px auto;
    border-bottom: solid 1px #242424;
    clear: both;
}

ul {
    margin: 0 auto 5px auto;
    padding-left: 28px;
}
li {
    margin-bottom: 3px;
    padding-left: 0;
    color: #00233D;
}
